
{% extends 'adminmaster.html' %}

{% block content %}

{%for vehs in book %}
<center><img src="{{ vehs.vehicle_image }}" width="250px" height="250px" alt="Vehicle Image"></center>
<table border="4" id="tabels" style="font-size: 20px;">
    
    <tr>
        <th>Booking Number</th>
        <th>From Date</th>
        <th>To Date</th>
        <th>From Destination</th>
        <th>Total Price</th>
        <th>Status</th>
        <th>Actions</th>

    </tr>
    
    <tr>
        <td>{{vehs.booking_number}}</td>
        <td>{{vehs.from_date}}</td>
        <td>{{vehs.to_date}}</td>
        <td>{{vehs.from_destination}}</td>
        <td>{{vehs.total_price}}</td>
        <td>{{vehs.status}}</td>
       
        <td rowspan="3">
            {% if vehs.status == "complete" or vehs.status == "cancelled" %}
                   NA
            {% else %} 
            <a href="/completebooking/{{vehs.booking_number}}"><i class='far fa-edit'></i>Complete Booking</a>&nbsp&nbsp&nbsp&nbsp<br>
            
            {% endif %}<br>
            <a href="/additional/{{vehs.booking_number}}"><i class='far fa-edit'></i>Add Additional Charges</a>&nbsp&nbsp&nbsp&nbsp
        </td>
    </tr>   


<tr>
        <td style="background-color :rgba(0, 0, 0, 0.692); color:white;" >Vehicle Brand</td>
        <td style="background-color :rgba(0, 0, 0, 0.692); color:white;">Vehicle Name</td>
        <td style="background-color :rgba(0, 0, 0, 0.692); color:white;">Fuel Type</td>
        <td style="background-color :rgba(0, 0, 0, 0.692); color:white;">Seating Capacity</td>
        <td style="background-color :rgba(0, 0, 0, 0.692); color:white;">Air Condition</td>
        <td style="background-color :rgba(0, 0, 0, 0.692); color:white;">Additional Charge</td>

    </tr>
<tr>   
        <td>{{vehs.vehicle_brand}}</td>
        <td>{{vehs.vehicle_name}}</td>
        <td>{{vehs.fuel_type}}</td>
        <td>{{vehs.seating_capacity}}</td>
        <td>{{vehs.aircondition}}</td>
        <td>{{vehs.additional_charge}}</td>
      
     </tr>
     
</table>
<hr>
<br><br><br>
{% endfor %}
{% endblock %}