{% extends 'master.html' %}

{% block content %}

{% load static %}


<form action="/bookvs/" method="POST" enctype="multipart/form-data" >
    {% csrf_token %} 
    <link href='https://fonts.googleapis.com/css?family=Ubuntu:500' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static 'form/form.css' %}">
    <div class="wrapper">
    <div><img src="{{ vehs.vehicle_image }}" width="250px" height="200px" alt="Vehicle Image"></div>
    <div style="font-size: 40px;">{{vehs.vehicle_brand}} {{vehs.vehicle_name}}</div>
    <div></div>
    <div></div>
    <div></div>
    <div><b>Seating Capacity:</b> {{vehs.seating_capacity}} Seater <br> <b>Fuel Type:</b> {{vehs.fuel_type}} </div>
        <div><b>Aircondition:</b> {{vehs.aircondition}} <br> <b>Air Bag:</b> {{vehs.airbag}} </div>
        <div><b>ToTal Price:</b> {{vehs.price_per_day}} <br>  </div>
   
 </div>

<br><br><br>

    <hr>
    <br><br><br>
    <table border="0" >
  <tr>  
        <input type="hidden" name="vehid"  value="{{veh.id}}"required="true" />
        <input type="hidden" name="price"  value="{{veh.price_per_day}}"required="true" />
        <td><h3>From Date :</h3></td><td></span><input type="datetime-local" name="fdate" id="txtdate" required="true" /></td>   
      </tr>
  <tr>
      <tr><td><br></td><td></td></tr>
  <tr>  
        <td><h3>To Date :</h3></td><td></span><input type="datetime-local" name="tdate"  required="true" /></td> 
  </tr>
  <tr>
    <tr>  
        <td><h3>From Destination:</h3></td><td></span><input type="text" name="fdest"  required="true" /></td> 
  </tr>
  <tr>    
          
 
  <span> <tr><td colspan="2"></span><input type="submit" value="Book" class="login-button" /><br>
    {% if messages %}
  {% for result in messages %}
  {% if result.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
  <div class="isa_error">
    <i class="fa fa-times-circle">{{result}}</i>
  </div>
  {% endif %}
  {% endfor %}
  {% endif%}</td></tr>
  </label>

  
  </table>
  </div>
  </div>
  </form>
  
{% endblock %}
