{% extends 'master.html' %}

{% block content %}
<div class="home" style="color:black; " >
    <b>
<center><h1 style="color: black;">Feel Free to contact us</h1></center>
<div style="font-size: 30px; background-color:rgb(255, 0, 0);opacity:0.6;"><b>Email us:</b><br>
<b>Email id:</b> Carsrental@gmail.com</div>
<br><br>
<div style="font-size: 30px; background-color: yellow;opacity:0.6;"><b>Call us:</b><br>
<b>Contact no :</b> +91 9875643450</div>
<br><br>
<div style="font-size: 30px; background-color: hsl(120, 100%, 25%);opacity:0.6;"><b>Head Office:</b><br>
<b>Address:</b> Nirma University<br>
Ahmedabad</div>
</b>
</div>
{% endblock %}